:root{
    --target: #4D5AE5;
    --bg: #FFF;

}
body{
    font-family:'Roboto',sans-serif;
    color: #434455;
    background-color: var(--bg);
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.address-style{
    font-style: normal;
}
/*logotipe*/
.logotipe{
    color: var(--target);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logotipe-header{
    color: #2E2F42;
}
.logotipe-footer {
    color: #F4F4FD;
}
.website-nav{
    color: #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.website-nav:hover,
.website-nav:focus,
.logotipe:hover,
.lpgptipe:focus,
.link:hover,
.link:focus{
    color: #404bbf;
}
.button-service:hover,
.button-service:focus{
    background-color: #404bbf;
}
.website-nav:visited{
    color: #2E2F42;
}
.link{
    color: #434455;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.hero-title{
    color: var(--bg);
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    margin: 0 472px 48px 472px;
}
.button-service{
    color: var(--bg);
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: var(--target);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 635px;
    margin-left: 635px;
}

.title-three{
    color: #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.title-two{
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.text{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.footer-text{
    color: #F4F4FD;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    height: 72px;
    margin-top: 17.5px;
    margin-bottom: 100px;
}
/*section*/
.header-section {
    background-color: var(--bg);
}
.hero-section {
    background-color: #2E2F42;
}
.info-section{
    background-color: var(--bg);
}
.team-section{
    background-color: #F4F4FD;
}
.portfolio-section{
    background-color: var(--bg);
}
.footer-section{
    background-color: #2E2F42;
}
/*containers*/
.container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.container-header{
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.logotipe-container{
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
}
.list-nav{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.address-container{
    margin-left: auto;
}
.list-address{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.hero-container{
    height: 600px;
    flex-shrink: 0;
    padding-top: 188px;
    padding-bottom: 188px;
}
.info-container{
    display: flex;
    width: 1128px;
    flex-shrink: 0;
    margin: 120px 156px;
    gap: 24px;
}
.info-item{
    display: flex;
    width: calc(100% / 4);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.team-container{
    flex-shrink: 0;
    padding: 120px 156px;
}
.team-list{
    display: flex;
    width: 1088px;
    gap: 24px;
}
.team-title{
    margin-bottom: 72px;
}
.mini-item {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mini-text-title{
    margin-top: 32px;
    margin-bottom: 8px;
}
.mini-text{
    margin-bottom: 32px;
}
.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    margin: 120px 156px;
    gap: 48px 24px;
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.logo-f{
    margin-top: 101.5px;
}



